/* Faucet.css */

.highlighted-text {
    background-color: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    padding: 0.2em 0.4em; /* Add some padding for better readability */
    border-radius: 0.2em; /* Optional: rounded corners */
    display: inline; /* Ensure the background only covers the text */
  }
  
  .faucet-button {
    background-color: #ffcc00; /* Custom gold color */
    border-color: #ffcc00;
    color: #000; /* Black text color */
  }
  
  .faucet-button:hover {
    background-color: #e6b800; /* Darker shade on hover */
    border-color: #e6b800;
    color: #000;
  }
  
  .faucet-container {
    color: white; /* Set text color to white */
  }